<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Me</title>
    <link rel="stylesheet" href="/styles/common-body-styles.css">
    <link rel="stylesheet" href="/styles/header-bar-styles.css">
</head>
<body>
<div th:replace="~{fragments/header-bar :: header-bar}"></div>
<main>
    <h1><span class="about-me-title">About Me</span></h1>
    <p>This whole website is about me??? Just go to some of the other menu links!</p>
    <br>
    <p>Honestly...</p>
</main>
</body>
</html>
