<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/landing-page-style.css">
    <link rel="stylesheet" href="/styles/header-bar-styles.css">
</head>
<body>
<div th:replace="~{fragments/header-bar :: header-bar}"></div>
<main>
    <h1><span class="phonetic-name">moo&middot;ease</span></h1>
    <div class="landing-profile-picture">
        <img src="/images/profile-picture.jpg" alt="Profile picture">
    </div>
</main>
</body>
</html>
