body {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    margin: 0; /* full-bleed header/background */
    color: white;
}

main > h1,
main > p {
    text-align: center;
}

.centered-page-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.centered-page-content p {
    text-align: left;
}

/* Force list containers and items to align left */
.centered-page-content ul,
.centered-page-content ol,
.centered-page-content li {
    text-align: left;
}